/*=============================*/
/*======= Halaman Depan =======*/
/*=============================*/
.nav-custom{
	background: #203040;
}

#brand {
	margin: 25px 0;
	font-size: 28px;
	color: white;
}

.footer{
	background: #203040;
	text-align: center;
	color: #fff;
	padding:20px 25px;
	bottom: 0;
	width: 100%;
	position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

#kpo{
	float: left;
	margin-right: 30px;
}

.kanan, .kiri{
	margin-top: 5vh;
}

.kiri>p{
	margin: 20px auto;
	font-size: 18px;
	color: white;
}

.kiri>p>u{
	font-size: 20px;
	font-weight: bold;
}

.kanan>h1{
	color: white;
	margin-bottom: 0;
}

.kanan>p{
	font-size: 20px;
	color: white;
}

.login{
	color: white;
	width: 70%;
	margin: 30px auto;
}

html {
  position: relative;
  min-height: 100%;
}

.well{
	background: #d8dade;
}

#menu {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

#user_shape{
	max-height: 80px;  margin-top: 0;
}

#slmt{
	font-size: 18px;
	color: #a1a7af;
}

#nm{
	font-size: 16px;
	color: #a1a7af;
}

@media only screen and (max-width: 992px){
	.kanan>p,h1{
		text-align: center;
	}

	.kanan>h1{
		font-size: 30px;
	}
	
	.kanan>p{
		font-size: 18px;
	}
	
	.kiri>p{
		font-size: 16px;
	}

	.kiri>p>u{
		font-size: 18px;
		font-weight: bold;
	}
}

@media only screen and (max-width: 480px){
	#kpo{
		float: none;
		margin: 10px auto;
	}
}

#body {
	animation: colorBackground 20s infinite; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
	-webkit-animation: colorBackground 20s infinite; /* Chrome, Safari 5+ */
	-moz-animation: colorBackground 20s infinite; /* Firefox 5-15 */
	-o-animation: colorBackground 20s infinite; /* Opera 12.00 */
	margin-bottom: 60px;
}
@keyframes colorBackground {
	0%   { background-color: #fbcf61; }
	20%  { background-color: #6bd57e; }
	40%  { background-color: #ff6f6f; }
	60%  { background-color: #57cff4; }
	80%  { background-color: #0ed4c8; }
	100% { background-color: #fbcf61; }
}
@-webkit-keyframes colorBackground {
	0%   { background-color: #fbcf61; }
	20%  { background-color: #6bd57e; }
	40%  { background-color: #ff6f6f; }
	60%  { background-color: #57cff4; }
	80%  { background-color: #0ed4c8; }
	100% { background-color: #fbcf61; }
}
@-moz-keyframes colorBackground {
	0%   { background-color: #fbcf61; }
	20%  { background-color: #6bd57e; }
	40%  { background-color: #ff6f6f; }
	60%  { background-color: #57cff4; }
	80%  { background-color: #0ed4c8; }
	100% { background-color: #fbcf61; }
}
@-o-keyframes colorBackground {
	0%   { background-color: #fbcf61; }
	20%  { background-color: #6bd57e; }
	40%  { background-color: #ff6f6f; }
	60%  { background-color: #57cff4; }
	80%  { background-color: #0ed4c8; }
	100% { background-color: #fbcf61; }
}